{% extends 'user_base1.html' %}
{% block content %}



<div class="banner-btm">
    <div class="container">
        <div class="banner-bottom-main">
            <div class="col-md-4 banner-btmg1">

               
                <form method="post" class="banner_form">
    {% csrf_token %}
    <table class="table" border="2" cellpadding="5" width="700px">
    <tr>
                    <td style="color: white;">CATEGORY</td>
                  <td><select name="category">
                      <option>select</option>
                      {%for c in cat%}
                      <option value="{{c.1}}">{{c.1}}</option>
                      {%endfor%}
                  </select></td>
    </tr>
    <tr>
                <td colspan="2"><center><input type="submit" name="submit" value="view" onclick="sh()"></center></td>
    </tr>
    
</table>
</form>
<div id="ss" ><!--style="display: none"  -->
    <form enctype="multipart/form-data">
<table class="table" border="2" cellpadding="5" width="700px" >
    <tr>
            <td style="color: rgb(233, 10, 10);">WORKERID</td>
            <td style="color: rgb(233, 10, 10);">WORKERNAME</td>
            <td style="color: rgb(233, 10, 10);">NAME</td>
            <td style="color: rgb(233, 10, 10);">DISPLAY PICTURE</td>
            <td style="color: rgb(233, 10, 10);">CATEGORY</td>
            <td style="color: rgb(233, 10, 10);">ADDRESS</td>
            <!-- <td style="color: rgb(233, 10, 10);">DATE OF BIRTH</td> -->
            <td style="color: rgb(233, 10, 10);">GENDER</td>
            <td style="color: rgb(233, 10, 10);">PHONE NUMBER</td>
            <td style="color: rgb(233, 10, 10);">EMAIL</td>
            <td style="color: rgb(233, 10, 10);">EXPERIENCE</td>
            
           
        </tr>
        {% for d in data %}
        <tr>
            <td style="color: white;">{{d.0}}</td>
            <td style="color: white;">{{d.1}}</td>
            <td style="color: white;">{{d.2}}</td>
            <td style="color: white;"><img width="120px" height="120px" src="../static{{d.3}}"></td>
            <td style="color: white;">{{d.4}}</td> 
            <td style="color: white;">{{d.5}}</td>
           <!-- <td style="color: white;">{{d.6}}</td>-->
            <td style="color: white;">{{d.7}}</td>
            <td style="color: white;">{{d.8}}</td> 
            <td style="color: white;">{{d.9}}</td>
            <td style="color: white;">{{d.10}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
 <script>
// function sh() {
//     var x=document.getElementById("ss");
//     if(x.style.display==="none")
//     {
//         x.style.display="block";
//     }
//     else
//     {
//         x.style.display="none";
//     }
    
   
// }
</script>
</form>   
</div>


{% endblock %}